.navbar{
	background-color: #D0E4D4;
	color: black;
}

.btn-primary{
	background-color: #DFA851;
	border-color: #DFA851;
}
.btn-primary:hover{
	background-color: #BD3D4E;
	border-color: #BD3D4E;
}

.react-autosuggest__suggestions-list{
	list-style: none;
	padding: 0;
}

.react-autosuggest__suggestions-list li{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}